<div *screenBelowLarge class="title-bar-small user-title-bar">
  <span class="glyphicon glyphicon-menu-hamburger"></span>
  <div class="small-image-holder"></div>
  <div class="menu-area">
  </div>
  <span class="glyphicon glyphicon-option-vertical"></span>

</div>

<nav *screenLarge class="navbar title-bar user-title-bar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <fw-top-bar></fw-top-bar>

